@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Roboto", sans-serif;
  /* background-color: #F7F5EB; */
  background-color: #0f0e0e;
}

#titleP {
  /* limits number of lines to 2 */
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
